<div id="<%= dom_id lppi_remark %>">
  <p>
    <strong>Quote item:</strong>
    <%= lppi_remark.quote_item_id %>
  </p>

  <p>
    <strong>Remarks:</strong>
    <%= lppi_remark.remarks %>
  </p>

</div>
