<div id="<%= dom_id lppi_remark %>">

  <div class="row mx-auto">
    <div class="col">
      <%= content_tag :p, "Remarks: "%>
    </div>
    <div class="col">
      <%= content_tag :p, lppi_remark.remarks, class: "card-text" %>
    </div>
  </div>

</div>
