<h1>Editing lppi remark</h1>

<%= render "form", lppi_remark: @lppi_remark %>

<br>

<div>
  <%= link_to "Show this lppi remark", @lppi_remark %> |
  <%= link_to "Back to lppi remarks", lppi_remarks_path %>
</div>
