<div class="card border-success mb-3 text-center me-2 col-4" style="max-width: 18rem;">
  <div class="card-header text-success">Approved</div>
  <div class="card-body text-success">
    <table class="ms-3">
    <tr>
      <td class="text-end">Coverage: </td>
      <td><%= content_tag :p, number_to_currency(@approve_coverage, locale: :ph), class: "card-text text-start ms-5" %></td>
    </tr>
    <tr>
      <td class="text-end">Premium: </td>
      <td><%= content_tag :p, number_to_currency(@approve_net_prem, locale: :ph), class: "card-text text-start ms-5" %></td>
    </tr>
    </table>
  </div>
</div>