<p style="color: green"><%= notice %></p>

<%= render @beneficiary %>

<div>
  <%= link_to "Back to beneficiaries", beneficiaries_path %>

  <%= button_to "Destroy this beneficiary", @beneficiary, method: :delete %>
</div>
