<h1>Editing lppi coverage</h1>

<%= render "form", lppi_coverage: @lppi_coverage %>

<br>

<div>
  <%= link_to "Show this lppi coverage", @lppi_coverage %> |
  <%= link_to "Back to lppi coverages", lppi_coverages_path %>
</div>
