<div id="<%= dom_id department %>">
  <p>
    <strong>Division:</strong>
    <%= department.division_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= department.name %>
  </p>

  <p>
    <strong>Abbreviation:</strong>
    <%= department.abbreviation %>
  </p>

</div>
