<h1>Editing lppi coverage item</h1>

<%= render "form", lppi_coverage_item: @lppi_coverage_item %>

<br>

<div>
  <%= link_to "Show this lppi coverage item", @lppi_coverage_item %> |
  <%= link_to "Back to lppi coverage items", lppi_coverage_items_path %>
</div>
