<div id="<%= dom_id batch %>">
  <p>
    <strong>Product:</strong>
    <%= batch.product_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= batch.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= batch.description %>
  </p>

</div>
