<div class="ms-3 mt-1 me-3" style="text-align: justify;">
      <p class="ms-3 me-3"><b>C. COMMENCEMENT DATE OF INDIVIDUAL INSURANCE. </b>Eligible borrowers listed in the Summary Report shall be insured effective on the date when they actually received the proceeds of the loan granted to them by the COOPERATIVE, provided that the corresponding premiums are paid and the borrower is eligible for coverage.</p>
</div>

<div class="ms-3 mt-1 me-3" style="text-align: justify;">
  <p class="ms-3 me-3"><b>D. AMENDMENT. </b>Any changes to the Memorandum of Agreement shall be agreed upon mutually and formally by the parties hereto.</p>
</div>

<div class="ms-3 mt-1 me-3" style="text-align: justify;">
  <p class="ms-3 me-3"><b>E. EFFECTIVITY. </b>This agreement shall take effect upon the signing of this Memorandum of Agreement. This Memorandum of Agreement shall remain in force unless amended, modified, revoked or terminated by either party upon written notice to the other party thirty (30) days before the effective date of termination and based on valid and legal grounds.</p>
</div>

<div class="ms-3 mt-1 me-3" style="text-align: justify;">
  <p class="ms-3 me-3"><b>F. ENTIRE AGREEMENT. </b>Both parties acknowledge that his Agreement constitutes the entire agreement between them and shall completely supersedes all other prior understandings, previous communications, contracts and agreements, either oral or written, between the parties relating to the same subject matter.</p>
</div>

<div class="ms-3 mt-1 me-3" style="text-align: justify;">
  <p class="ms-3 me-3"><b>G. SEVERABILITY. </b>If any term or condition of this Agreement is declared contrary to law, the other terms and conditions hereof shall not be affected and shall remain fully vaid, subsisting and enforceable. This Agreement effectively supersedes and replaces all other arrangements, negotiations, discussions, contracts and all other agreements between parties.</p>
</div>

<div class="ms-3 mt-1 me-3" style="text-align: justify;">
  <p class="ms-3 me-3"><b>H. EFFECTS OF TERMINATION OF AGREEMENT. </b>The revocation, cancellation or termination of this Agreement shall not, in anyway, prejudice, diminish or abate any cause of action already accruing to the parties prior to, or at the time of the effectivity of the revocation, cancellation, or termination. Such revocation or termination shall not, in any way, prejudice, diminish or cancel the liability of the COOPERATIVE to remit to 1 CISP hte premium payment already accruing at the time of such revocation, nor shall it diminish, cancel or abrogate the liability of 1 CISP to pay insurance benefits of the borrowers made before or at the time of such revocation or termination.</p>
</div>