<h1>New cooperative</h1>

<%= render "remote_modal", title: "New Cooperative" do %>
  <%= render "form", cooperative: @cooperative %>
<% end %>

<br>

<div>
  <%= link_to "Back to cooperatives", cooperatives_path %>
</div>
