<div id="<%= dom_id rate %>">
  <p>
    <strong>Minage:</strong>
    <%= rate.minAge %>
  </p>

  <p>
    <strong>Maxage:</strong>
    <%= rate.maxAge %>
  </p>

  <p>
    <strong>Rate:</strong>
    <%= rate.rate %>
  </p>

</div>
