<h1>Editing rider add tpd</h1>

<%= render "form", rider_add_tpd: @rider_add_tpd %>

<br>

<div>
  <%= link_to "Show this rider add tpd", @rider_add_tpd %> |
  <%= link_to "Back to rider add tpds", rider_add_tpds_path %>
</div>
