<h1>New actuarial matrix lppi</h1>

<%= render "form", actuarial_matrix_lppi: @actuarial_matrix_lppi %>

<br>

<div>
  <%= link_to "Back to actuarial matrix lppis", actuarial_matrix_lppis_path %>
</div>
